<% provide(:title, "About") %>

<h1>About Us</h1>
<p>
    The <a href="<%=root_url %>"><em>Online Library</em></a> is an online library web application developped by Theo Creach and William Guezennec
</p>
